<p id="notice"><%= notice %></p>

<h1>My Estimate</h1>
<div class="options-container">
   <% [0, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89].each do |v| %>
   <form class="option-form" method="post" action="/room/<%= @room.unique_identifier %>/estimate/<%= v %>">
      <button class="option-button" type="submit"><%= v %></button>
   </form>
   <% end %>
</div>

<div id="<%= dom_id @room %>">
   <%= render "room", room: @room %>
</div>

<div>
   <h3>DEBUG</h3>
   <%= @room.inspect %>
</div>